ENVIRONMENT='TEST'  # TEST, STAGE, PROD
BE_BRANCH='main'    # main, ACME-12345
FE_BRANCH='main'     # main, ACME-12345
SLACK_BOT_USER_OAUTH_TOKEN='get from vault' #required only when posting to slack from local runs
MOCK='false'

TEST_USERNAME='user'
TEST_PASSWORD='password'
TEST_API_KEY='apikey'

STAGE_USERNAME='user'
STAGE_PASSWORD='password'
STAGE_API_KEY='apikey'

PROD_USERNAME='user'
PROD_PASSWORD='password'
PROD_API_KEY='apikey'